:host ::ng-deep .p-multiselect {
  /* width: 100%;
  height: 34px;
  font-size: 15px;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #b9b9b9;
  background: #fff; */

  outline: none;
  color: var(--black);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  width: 100%;
height: 50px;
  display: flex;
  padding: 12px;
  align-items: center;
  border-radius: 8px;
border: 1px solid var(--light2);

height: 50;
border-radius: 8px;
}
:host ::ng-deep .p-multiselect .p-multiselect-label {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  gap: 5px;
}
:host ::ng-deep .p-multiselect-panel {
  margin-top: 3px;
  border-radius: 0px 0px 15px 15px;
}
:host ::ng-deep .p-multiselect:not(.p-disabled).p-focus {
  box-shadow: none;
  border-color: var(--activeBorder);
}
:host ::ng-deep .p-multiselect-dropdown {
  color: #000;
}
:host ::ng-deep .p-multiselect .p-multiselect-label {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}
:host ::ng-deep .p-multiselect .p-multiselect-trigger {
  width: max-content;
  position: absolute;
  right: 12px;
  color: #656565;
}

:host
  ::ng-deep
  .p-multiselect-panel
  .p-multiselect-items
  .p-multiselect-item.p-focus {
  /* color: #027180; */
  /* background: rgb(231, 235, 229); */
  background: var(--mainBg);
  color: #656565;
}

:host ::ng-deep .p-multiselect-panel {
  /* width: 200px; */
  width: 100%;
}
:host ::ng-deep .p-multiselect .p-multiselect-label.p-placeholder {
  color: #6c757d;
  padding: 16px;
}
:host ::ng-deep .p-multiselect-panel .p-multiselect-items {
  padding: 10px 5px !important;
  border-radius: 15px !important;
}
:host ::ng-deep .p-multiselect-panel li.p-element {
  /* border-radius: 0px 0px 15px 15px !important; */
  padding: 5px;
}
:host ::ng-deep .p-checkbox {
  margin-right: 5px;
}
:host ::ng-deep .p-multiselect-filter-icon {
  margin-top: -0.5rem;
}
.title {
text-transform: capitalize;
    margin-bottom: 16px;
    color: var(--black);
    font-style: bold;
    font-weight: 700;
font-size: 16px;
display: flex;
align-items: center;
gap: 4px;
}
.title span{
font-weight: 400;
font-style: normal;
font-size: 12px;
direction: inherit;

}
.is-required {
  color: var(--error);
}

.is-optional {
  color: var(--light);
}
