
.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
margin: auto;
}

.title_inp img{
  width: 20px;
  height: 20px;
}
label{
text-transform: capitalize;
    margin-bottom: 16px;
    color: var(--black);
    font-style: bold;
    font-weight: 700;
font-size: 16px;
display: flex;
align-items: center;
gap: 4px;
}
label span{
font-weight: 400;
font-style: normal;
font-size: 12px;
direction: inherit;

}
.is-required {
  color: var(--error);
}

.is-optional {
  color: var(--light);
}

input {
  outline: none;
  color: var(--black);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  width: 100%;
height: 50px;
  display: flex;
  padding: 12px;
  align-items: center;
  border-radius: 8px;
border: 1px solid var(--light2);

border-radius: 8px;
box-shadow: 0px 4px 8px 0px #0000000D;

}

input:focus{

border-color: var(--activeBorder);
}
.input-text-group {
  padding: 5px 16px;
}
input::placeholder{
  text-transform: capitalize;
  color: var(--light);
}




.toggle-eye {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--gray);
}

.toggle-eye:hover {
  color: #888;
}
 :host ::ng-deep .p-inputgroup-addon   ,
 :host ::ng-deep .custom_addon  [data-pc-name="inputgroupaddon"] {
 /* width: max-content; */
 min-width: max-content;
 color: #000;
}
:host ::ng-deep .p-inputgroup input {
  border-radius: 0px 7px 7px 0px !important;
  }


/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="password"]::-ms-reveal {
  display: none;
}
.input-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.input-wrapper {
  flex: 1 1 48%; /* Responsive two-column layout */
  min-width: 250px;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.input{
  width: 100%;
}
