.breadcrumb-container {
  font-size: 14px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
}

.breadcrumb-container a {
  text-decoration: none;
  color: #007ad9;
}

.breadcrumb-container a:hover {
  text-decoration: underline;
}

.separator {
  margin: 0 5px;
  color: #555;
}
