/* .textarea-group {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
} */

.textarea-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.textarea-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.textarea-control {
  width: 100%;
  min-height: 6.25rem;
  padding: 1rem;
  /* border: 1px solid transparent;
  border-radius: 0.5rem;
  background: #efefef;
  color: #000000;
  font-size: 1rem;
  line-height: 1.5;
  resize: vertical;
  transition: border-color 0.2s ease;
  width: 1014;
height: 102; */
border-radius: 8px;
background: #FFFFFF;
border: 1px solid var(--light2);
box-shadow: 0px 4px 8px 0px #0000000D;

}

.textarea-control:focus {
  outline: none;
  border-color: var(--activeBorder, #efefef);
}

.textarea-control::placeholder {
  color: var(--light, #9CA3AF);
  text-transform: capitalize;
}

/* label {
  font-weight: 600;
  color: var(--black, #000000);
  text-transform: capitalize;
} */
 label{
text-transform: capitalize;
    margin-bottom: 16px;
    color: var(--black);
    font-style: bold;
    font-weight: 700;
font-size: 16px;
display: flex;
}
label span{
font-weight: 400;
font-style: normal;
font-size: 12px;
direction: inherit;

}
.is-required {
  color: var(--error);
}

.is-optional {
  color: var(--light);
}
