p {
  margin: 0;
}
:host ::ng-deep .p-select {
  /* width: 100%;
  height: 34px;
  font-size: 15px;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #b9b9b9;
  background: #fff; */

  outline: none;
  color: var(--black);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  width: 100%;
height: 50px;
  display: flex;
  padding: 12px;
  align-items: center;
  border-radius: 8px;
border: 1px solid var(--light2);

box-shadow: 0px 4px 8px 0px #0000000D;
}

:host ::ng-deep .p-select-dropdown {
  color: var(--light);
  width: initial;
}
:host ::ng-deep .p-select-panel {
  margin-top: 3px;
  border-radius: 0px 0px 15px 15px;
}
:host ::ng-deep .p-select:not(.p-disabled).p-focus {
  box-shadow: none;
  border-color: var(--activeBorder);
}
:host ::ng-deep .p-calendar:not(.p-calendar-disabled).p-focus > .p-inputtext {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #bfdbfe;
  border-color: #3b82f6;
}
:host ::ng-deep .p-select .p-select-label {
  color: var(--black);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
:host ::ng-deep .p-select .p-select-trigger {
  width: max-content;
  position: absolute;
  color: #000;
  right: 12px;
}
[dir="ltr"] :host ::ng-deep .p-select .p-select-trigger {
  right: 12px;
}
[dir="rtl"] :host ::ng-deep .p-select .p-select-trigger {
  left: 12px;
}
:host ::ng-deep .p-select-panel .p-select-items .p-select-item.p-highlight,
:host
  ::ng-deep
  .p-select-panel
  .p-select-items
  .p-select-item:not(.p-highlight):not(.p-disabled).p-focus {
  /* color: #027180; */
  /* background: rgb(231, 235, 229); */
  background: var(--primary);
  color: #656565;
}
:host ::ng-deep .p-select.p-disabled {
    opacity: 1;
    background: var(--light2) !important;
}
/* :host ::ng-deep .p-inputtext{padding: 16px !important;} */

:host ::ng-deep .p-select-panel {
  width: 100%;
}
:host ::ng-deep .p-select .p-select-label.p-placeholder::first-letter {
  text-transform: capitalize;
}
:host ::ng-deep .p-select .p-select-label.p-placeholder {
  color: var(--light);
}
/* :host ::ng-deep .p-select-panel .p-select-items .p-select-item:not(.p-highlight):not(.p-disabled):hover {

  background: var(--mainBg)  !important;
} */

:host ::ng-deep .p-select-panel .p-select-items {
  padding: 10px 5px !important;
  border-radius: 15px !important;
}
:host ::ng-deep .p-select-panel li.p-element {
  /* border-radius: 0px 0px 15px 15px !important; */
  padding: 5px;
}
:host ::ng-deep .dropdown-panel .p-select-items .p-select-item.p-highlight {
  border-radius: 0px 0px 15px 15px !important;
}
.title {
text-transform: capitalize;
    margin-bottom: 16px;
    color: var(--black);
    font-style: bold;
    font-weight: 700;
font-size: 16px;
display: flex;
align-items: center;
gap: 4px;
}
.title span{
font-weight: 400;
font-style: normal;
font-size: 12px;
direction: inherit;

}
.is-required {
  color: var(--error);
}

.is-optional {
  color: var(--light);
}
.l{
  margin-top: 4%;
}

.note{
color: var(--light);
font-size: 14px;
font-weight: 400;
margin: .8rem;
}
